@model WebApplication32.Models.UserTour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumAdults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAdults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumKids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumKids)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
