@model IEnumerable<WebApplication32.Models.AdminTour>

@{
    ViewBag.Title = "UshakaBookingList";
}

<h2>UshakaBookingList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Duration)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Num_Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Kids)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TourDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Duration)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Num_Adults)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Num_Kids)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TourDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TTickets)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TourID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TourID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TourID })
        </td>
    </tr>
}

</table>
